
body{
    background-color: #e8e8e8;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
}

.card-icon{
    margin-right: 15px;
}

.card-icons{
    float: left;
}

.card-date{
    color: darkgray;
}

.card-header{
    background-color: #204051 ;
    color: #e4e3e3;
}
.card-body{
    background-color: #f5f0f0;
}

.card-footer{
    background-color: #84a9ac;
}

.align-items-end{
    box-shadow: black;
}

