*{
    padding: 0;
    margin: 0;
    line-height: 1.2;
    box-sizing: border-box;
}

body{
    background-color: #e8e8e8;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
}

.side{
    margin: 0px;
    padding: 30px 50px;
}

.category-side{
    /*height: 500px;*/
    /*background-color: #79aec8;*/

}

.content-side{
    /*height: 500px;*/
    /*background-color: #79e8;*/
}

.custom-card{
    margin-bottom: 20px;
    background-color: #ffffdd;
}
.delete-cate{
    position: absolute;
    top: 0;
    left: 0;

}

.delete-cate-btn:visited,
.delete-cate-btn:active{
    border: none;
}

.task-input{
    margin-bottom: 10px;
}

.item-check-box{
    height: 23px;
    width: 23px;
    background-color: white;
    color: #6DDCBD;
}

.item-check-box:checked{
    background-size: 23px 23px;
    background: white;
    color: #6DDCBD;
}

.list-group-item{
    align-content: center;
    padding: 20px;
    justify-content: center;

}

.todo-item-badge .badge-pill{
    font-weight: 200;
    font-size: 11px;
    border-radius: 3px;
}

.deleted-item-title{

}


.card-description-p{
    color: darkgray;
}